.dash {
    position:relative;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}


.dashImg {
    position: relative;
    text-align: center;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 15px;

}

footer {
    background-color: lightgray;
    text-align: center;
}