
.container {
    position:relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: auto;

}

.picture {
    position: relative;
    text-align: center;
    background-size: cover;

}
.centered{
    position:absolute;
    width: 100%;
    height: auto;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    -webkit-animation: fadein 5s; 
    -moz-animation: fadein 5s;
     -ms-animation: fadein 5s; 
      -o-animation: fadein 5s; 
         animation: fadein 5s;
}

#banner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0.2rem;
    position: relative;
}

@media (min-width: 480px) {
    #banner {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#banner .col {
    border: 1px outset #7c98ff;
}


.col {
    text-align: center;
    font-size: 25px;
    background-color: whitesmoke;
    color: 	#5453A6;
    border: 10px outset #7c98ff;
    padding: 30px;
    margin: 10px;
}


#wrap {
    margin: 0 auto;
    /* width: 800px; */
    height: 500px;
    padding: 0;
    overflow: hidden;
  }
#scaled-frame {
    /* width: 800px; */
    height: 500px;
    border: 0px;
  }

#scaled-frame{
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
      zoom: 1;
    }
  }

.imgLayout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    position: relative;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* .img{
    max-width: 500px;
    max-height: 500px;
} */
.btn-primary, .btn-primary:active{
    color: white;
    background-color: #7982f9;
    border-color: #7982f9;
    margin: 20px
}

.btn-primary:hover {
    color: #212529;
    background-color: 	#9db7ff;
    border-color: 	#9db7ff;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid grey;
  }

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    position:relative;
    text-align: center;
    padding: 0 10px;

}
.card {
    border: 2px solid #e7e7e7; 
    border-radius: 3px;
    padding: 1.5rem;
    max-width: 500px;
    max-height: 550px;
    height: 100%;
    margin: 3rem;
    
}

.gallery .card {
    justify-content: space-between;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bannerimage{
  width: 100%;
  height: 200px;
  background-color: #FAFAFA;
  background-position: center;
}

/*Contact Page*/
.contact{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/antelope-island_HEADER_BettymayaFoot.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #CCCCFF;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.contact .container{
   /* width: 100%; */
    display: flex;
    justify-content: center;
    justify-items: left;
    align-items: center;
    margin-top: 30px;
}

.contact .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.contact .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;   
}

.contact .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300 px;
    text-align: left;

}

.contact .container .contactInfo .box .text h3{
    font-weight: 400;
    font-size: 26px;
    color:#CCCCFF;

}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: 	#22224f;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #9fa8f0;
    font-size: 12px;
    transform: translateY(-20px);   
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #5453A6;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
        
    }
}
/*
html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    border: 5px solid white;
    font-size: 4em;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;

}

body{
    padding: 0;
    margin: 0;
    background: white;
}

.headerContainer{
    font-size: 8em;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:white;
}




.container-fluid {
    display: flex;
    justify-content: center;
}

.responsive{
    width: 100%;
    height: 50%;
}





.container img{
    border: 5px solid lightgrey;
    margin-left: 5px;
    margin-right: 5px;
    display: table-cell;
    height: 300px；
}


.button {
    background-color: #8f99fb;
    align-content: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  */